<div class="row justify-content-center mt-3">
    <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="" class="rounded-circle" style="height: 75px;width: 100px;">
    <h6 class="text-white text-center mt-2">Yash</h6>
</div>
<div class="list-group rounded-0 mt-2">
<a href="/admin/dashboard"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Dashboard</a >
<a href="/admin/newAdmission"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">New Admission</a >
<a href="/admin/manageStudent"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Manage Student</a >
<a href="/admin/manageClass"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Manage Classes</a >
<a href="/admin/viewAllClass"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Add Subject Teacher</a >
<a href="/admin/manageTeacher"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Teachers</a >
<a href="/admin/manageStaff"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Staffs</a >
<a href="/admin/attendance"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Attendance</a >
<a href="/admin/classPayments"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Student Payments</a >
<a href="/admin/classFeeStructure"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Class Fee Structure</a >
<a href=""  class="list-group-item  border-0 list-group-item-action  bg-danger text-light">Assess Tracking</a >
</div>