<div class="row justify-content-center mt-3">
    <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="" class="rounded-circle" style="height: 75px;width: 100px;">
    <h6 class="text-white text-center mt-2">Yash</h6>
</div>
<div class="list-group rounded-0 mt-2">
<a href="/teacher/"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Dashboard</a >
<a href="/teacher/viewStudent"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Manage Student</a >
<a href="/teacher/teacher-periods"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">View Class Period</a >
<a href="/admin/manageStudent"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Manage Report Cards</a >
<a href="/teacher/attendance"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Attendance</a >
<a href="/teacher/payments"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Payments</a >
<a href="/admin/classFeeStructure"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Asign Study Material</a >
<a href=""  class="list-group-item  border-0 list-group-item-action  bg-danger text-light">Notice</a >
</div>