<div class="container">
    <div class="col-4 mx-auto">
        <div class="row mt-5 text-center">
            <h5>Login As Teacher</h5>
        </div>
        <div class="px-3">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="">Email</label>
                    <input type="email" name="email" class="form-control"  placeholder="Enter your registered email">
                </div>
                    <div class="mt-3">
                        <label for="">Password</label>
                        <input type="password" name="password" class="form-control"  placeholder="Enter your password">
                    </div>
                    <div class="mt-3">
                            <input type="submit" class="btn btn-primary w-100" value="Login">
                    </div>
            </form>
        </div>
    </div>
</div>