<div class="row justify-content-center mt-3">
    <img src="https://cdn.landesa.org/wp-content/uploads/default-user-image.png" alt="" class="rounded-circle" style="height: 75px;width: 100px;">
    <h6 class="text-white text-center mt-2">Yash</h6>
</div>
<div class="list-group rounded-0 mt-2">
<a href="/student"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Dashboard</a >
<a href=""  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Admit Cards</a >
<a href="/student/attendance-report"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Attendance Reports</a >
<a href="/student/payment-due"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Payments</a >
<a href=""  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Study Material</a >
<a href=""  class="list-group-item  border-0 list-group-item-action  bg-danger text-light">Notice</a >
</div>